@tailwind base;
@tailwind components;
@tailwind utilities;
 
 
:root {
    --main-green : #86B817;
    --main-blue : #17afb8 ;
    --main-miny-white : rgb(156 163 175);
    --main-white : rgb(255 255 255) ;
}
 
/* NAV */
 
/*Header , Nav*/
header 
{
    border-bottom: 1px solid #a4c4a430;
    box-shadow: 0px 4px 14px 0px #0a0a0a1c;
    position: sticky;
    background-color: #111827!important;
    z-index: 5;
}
 
header button
{
    color: var(--main-green)!important;
}
header nav  .child-nav-main
{
    color: var(--main-green) !important;
}
.pre--nav-- 
{
    position: sticky;
    top: 0;
}
header .logo-text-main
{
    color: var(--main-green)!important
}
header .logo-text-main span
{
    color:  white ;
}
header nav  .child-nav-main
{
    color: var(--main-white) !important;
}

.login-btn--
{
    transition: 0.3s ease;
}
.login-btn--:hover 
{
    color:  var(--main-blue) !important;
}

.book-custom--{
    background-image: url("/imgs/bckgrounds/bckg2.webP");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 9;
}
.book-custom--:before 
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #58772185;
    z-index: -1;
    border-radius: 20px;
}
/*Header , Nav*/
/*Header Section1*/
.headerSection--1:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #151a0a6b !important;
    position: absolute;
    z-index: -1;
}
/*Header Section1*/


/*Destination Section*/
@media (max-width: 409px)
{
    .main-title--special
    {
        flex-wrap: wrap !important;
    }
}
/*Destination Section*/
/*Newsletter*/
.news-letter-container
{
    background-image: url(/imgs/bckgrounds/bckg3.webP);
    background-repeat: no-repeat;
    background-size: cover;
}
.news-letter-container:before
{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #020202cf;
    z-index: -1;
}
/*Newsletter*/
/*About Section*/
.about-container-main--:before
{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: url(/imgs/bckgrounds/bckg4.webP);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
.about-container-main-- .about-words--
{
    border-bottom: 1px solid white;
    width: fit-content;
    color: white;
}
.about-container-main-- .vid-dialog-main-1 
{
    width: 50%;
    z-index: 2;
}
.about-container-main-- #accordion-open
{
    width: 50%;
}
@media (max-width: 778px)
{
    .about-container-main-- .accordion-open-aboutUS
    {
        flex-wrap: wrap;
        column-gap: 10px !important;
        row-gap: 10px !important;
    }
    .about-container-main-- .bg-white
    {
        padding: 0 !important
    }
    .about-container-main-- .aboutUS-container2--
    {
        padding: 0 !important;
    }
    #accordion-open-heading-1 button
    {
        padding: 3px 10px;
    }
    .about-container-main--  video {
        order: 1 !important;
    }
    .about-container-main-- .who-we-are--
    {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .about-container-main-- #accordion-open
    {
        order: 2 !important;
    }
}
/*About Section*/
/*Footer*/
footer
{
    background-color: rgb(17 24 39 / 1) !important;
}
/*Footer*/
/*Custom Booking */
#form-custom-booking label
{
    color: white !important;
}
#form-custom-booking input, #form-custom-booking textare
{
    background-color: rgb(55 65 81 / 1) !important;
}
@media (max-width: 778px)
{
    #date-custom-container
    {
        flex-wrap: wrap;
        flex-direction: column
    }
}

/*Custom Booking */

/*Dividers*/
.curved {
    position: relative;
    background: #2c3e50;
    height: 50vh;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
 
/*Dividers*/
/* Fonts */
    /* Nunito, sans-serif , 800 */
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    .nunito-sans-800 {
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    }
    
    /* Standard Font-Size */
      .std-fnt-size
      {
        font-size: clamp(1rem, 2.5vw, 2rem);
      }
/* Fonts */

/* Media Quries */
@media (max-width: 198px)
{
    header nav 
    {
        flex-wrap: wrap;
    }
}
/* Media Quries */

/* COLORS */
.main-blue--
{
    color : var(--main-blue)
}
.main-tiny-white--
{
    color : var(--main-miny-white) !important;
}
/* COLORS */
.group:hover .group-hover\:text-indigo-600  {
    --tw-bg-opacity : 1;
    color : var(--main-green) !important;
}

/* FUNCTIONS */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}
.z-index-1
{
    z-index: -1;
}
.z-index--1
{
    z-index: 1;
}
.z-index99 
{
    z-index: 99;
}
.z-index999 
{
    z-index: 999 !important;
}
.z-index5
{
    z-index: 5;
}

.txt-wrap 
{
    text-wrap: wrap;
}
/* FUNCTIONS */

/*Destinations , Forms */
.ui.search .content 
{
    display: flex;
}
.ui.search .content  .country-details
{
    display: flex;
    flex-direction: column;
}
.ui.search .content .details-dest-1
{
    display: flex;
    flex-direction: column;
}
.ui.search .content .details-dest-2
{
    display: flex;
    flex-direction: column;
}
.book-destination .destination-inputs
{
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.book-destination .destination-dates
{
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#book-destination-0
{
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4px;
}
.disp-none
{
    display: none !important;
}
.disp-actv
{
    display: flex !important;
}
#book-destination-0 #one-way-0
{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
@media (max-width: 340px)
{

  #book-destination-0,  #book-destination-0 #one-way-0 , .book-destination .destination-dates ,  .book-destination .destination-inputs { align-items : flex-start; justify-content : left;  }
}
  @media (max-width: 288px)
  {
    .book-destination .destination-dates ,  .book-destination .destination-inputs , #book-destination-0 #one-way-0
     {
    
        flex-direction:column;
            font-size: 10px;
     }

  }
/*Destinations , Forms */